<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ reverse_url('index') }}">枫云校园商铺</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form action="{{ reverse_url('display','1') }}" method="get" class="form-inline my-2 my-lg-0 mr-5">
            <input autocomplete="off" class="form-control mr-sm-2" name="search" type="search" id="header_search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
        {% import random %}
        {% try %}
        <div class="dropdown">
            {% if user_info.header %}
            <img class="img-thumbnail shadow mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 id="header-menu" title="个人中心"
                 src="
            {{ reverse_url('media','header/'+user_info.header)+'?'+str(random.randint(0,100)) }}
            {% else %}
            <img class=" img-thumbnail shadow mr-3" id="header-menu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" title="个人中心"
            src="
            {{ reverse_url('media','header/default_header.jpg') }}
            {% end %}" alt="">
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="header-menu">
                <a class="dropdown-item" href="{{ reverse_url('profile') }}">个人中心</a>
                <a class="dropdown-item" href="{{ reverse_url('logout') }}">注销</a>
            </div>
        </div>
        <style>
            #header-menu {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                transition: background-color 0.5s linear, color 0.5s linear;
            }

            #header-menu:hover {
                cursor: pointer;
                background-color: #3dabff;
                color: blue;
            }
        </style>
        {% except %}
        {% end %}
    </div>
</nav>
<script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
<script>
    let hots = Array();
    {% for hot in hots %}
    hots.push('{{ hot }}')
    {% end %}

    function* hot_generator() {
        for (hot of hots) {
            yield hot
        }
    }

    let header_search = $('#header_search')
    let set_hot = (who) => {
        let get_hot = hot_generator()
        who.attr('placeholder', get_hot.next().value)
        setInterval(() => {
            hot_data = get_hot.next()
            if (!hot_data.done)
                who.attr('placeholder', hot_data.value)
            else {
                get_hot = hot_generator()
            }
        }, 5000)
    }
    set_hot(header_search)
    let search_post = (data) => {
        location.href = '{{ reverse_url("display","1") }}' + 'search=' + data
    }
</script>