{% extends '..\commons\base.html' %}
{% block title %}
枫云校园商铺-登录
{% end %}
{% block css %}
<style>
    #background-log {
        height: 100%;
    }
</style>
<link rel="stylesheet" href="{{ static_url('css/jquery-ui.min.css') }}">
{% end %}
{% block body %}
<div style="padding-left: 0;padding-right: 0" id="background-log" class="jumbotron">
    <div style="padding-top: 100px" class="container">
        <div class="row justify-content-end">
            <div class="col-4" style="background-color: burlywood;padding-left: 0;padding-right: 0;">
                <ul class="nav nav-pills nav-fill" role="tablist" style="background-color: khaki">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="pill" id="sign-tab" href="#signin"
                           aria-controls="signin"
                           aria-selected="true" role="tab"
                           href="javascript:">登录</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="pill" id="regist-tab" href="#regist" aria-controls="regist"
                           aria-selected="false" role="tab"
                           href="javascript:">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="sign-tab">
                        <form class="shadow-lg" style="padding: 40px 30px 50px;">
                            <div class="form-group">
                                <label for="phone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor"
                                         class="bi bi-phone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </label>
                                <input style="width: 87%;float: right" type="tel" name="phone"
                                       class="form-control"
                                       id="phone" placeholder="请输入手机号">
                            </div>
                            <div class="form-group">
                                <label for="passwd">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor"
                                         class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                    </svg>
                                </label>
                                <input style="width: 87%;float: right" placeholder="请输入密码" type="password" name="passwd"
                                       class="form-control"
                                       id="log-passwd">
                            </div>
                            <div class="form-group" style="overflow: hidden">
                                <img class="coder" style="float: left;width: 140px;height: 35px"
                                     src="{{ reverse_url('pic_code',1) }}" title="切换验证码">
                                <input style="width: 56%;float: right" type="text" class="form-control" id="pic_message"
                                       placeholder="验证码">
                            </div>
                            <div style="margin-top: 25px" class="form-group form-check">
                                <input type="checkbox" name="remember" class="form-check-input" id="remember">
                                <label class="form-check-label" for="remember">7天内免登录</label>
                            </div>
                            <button id="login" style="width: 100%" type="button" class="btn btn-primary">登录</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="regist" role="tabpanel" aria-labelledby="regist-tab">
                        <form class=" shadow-lg" style="padding: 40px 30px 50px;">
                            <div id="tel" class="form-group">
                                <label for="phone">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor"
                                         class="bi bi-phone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </label>
                                <input id="reg-tel" style="width: 87%;float: right" type="tel" name="phone"
                                       class="form-control"
                                       placeholder="请输入手机号">
                            </div>
                            <div class="form-group" style="overflow: hidden">
                                <img class="coder" style="float: left;width: 140px;height: 35px"
                                     src="{{ reverse_url('pic_code',2) }}" title="切换验证码">
                                <input style="width: 56%;float: right" type="text" class="form-control" id="regst-code"
                                       placeholder="验证码">
                            </div>
                            <div class="form-group" style="overflow:hidden;">
                                <button id="get-code" style="float: right" type="button" class="btn btn-secondary mb-1">
                                    获取验证码
                                </button>
                                <input style="width: 54%;float: right" type="text" class="form-control"
                                       id="phone_message"
                                       placeholder="短信验证码">
                            </div>
                            <div class="form-group">
                                <label for="passwd">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor"
                                         class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                                    </svg>
                                </label>
                                <input placeholder="请输入密码" style="width: 87%;float: right" type="password" name="passwd"
                                       class="form-control" id="passwd">
                            </div>
                            <div class="form-group">
                                <label for="school">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                                         class="bi bi-book-half" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                    </svg>
                                </label>
                                <input placeholder="请输入大学名称" style="width: 87%;float: right" type="text"
                                       name="school"
                                       class="form-control" id="school">
                            </div>
                            <button onclick="post_reg()" style="width: 100%;" type="button" class="btn btn-primary">注册
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block js %}
<script src="{{ static_url('js/sweetalert.min.js') }}"></script>
<script>
    $('.coder').on('click', function () {
        coder = $(this);
        coder.attr('src', coder.attr('src') + Math.ceil(Math.random() * 1000));
    })
    let get_coder = $('#get-code')
    get_coder.attr('disabled', true)
    let reg_coder = $('#regst-code')
    let reg_tel = $('#reg-tel')
    let reg_passwd = $('#passwd')
    let phone_message = $('#phone_message')
    let college = $('#school')

    let response = (which, res) => {
        which.removeClass('is-valid')
        which.removeClass('is-invalid')
        which.addClass('is-invalid')
        which.parent().children('div.invalid-feedback').remove()
        which.parent().append(`<div class="invalid-feedback">${res}</div>`)
    }
    reg_coder.on('input', function () {
        if ($(this).val().length === 5) {
            get_coder.prop('disabled', false)
        } else
            get_coder.prop('disabled', true)
    })
    college.on('input', function () {
        $.post('{{ reverse_url("search") }}', {
            "text": college.val(),
            'index': 'schoolshop',
            'suggest': 'nameSuggester'
        }, (data) => {
            college.autocomplete({
                source: data.result,
            })
        })
    })
    college.autocomplete()
    $('input').on('input', function () {
        $(this).removeClass('is-invalid')
    })
    get_coder.on('click', () => {
        if (!get_coder.prop('disabled')) {
            $.get("{{ reverse_url('phone_message') }}", {
                phone: reg_tel.val(),
                pic_code: reg_coder.val()
            }, (result) => {
                if (result.status === 403) {
                    response(reg_tel, '手机号已注册！')
                }
                if (result.status === 402) {
                    response(reg_tel, '请输入有效的手机号！')
                }
                if (result.status === 401) {
                    response(reg_coder, '验证码错误！')
                }
                if (result.status === 200) {
                    reg_coder.removeClass('is-valid')
                    reg_coder.removeClass('is-invalid')
                    reg_coder.addClass('is-valid')
                    get_coder.prop('disabled', true)
                    let seconds = 60
                    let interval = setInterval(() => {
                        if (seconds-- !== 0) {
                            get_coder.text(seconds)
                        } else {
                            get_coder.text('获取验证码')
                            get_coder.prop('disabled', false)
                            seconds = 60
                            clearInterval(interval)
                        }
                    }, 1000)
                }
            })
        }
    })
    let post_reg = () => {
        phone_num = reg_tel.val()
        password = reg_passwd.val()
        phone_code = phone_message.val()
        school = college.val()
        $.post("{{ reverse_url('regist') }}", {
            phone: phone_num,
            password: password,
            phone_code: phone_code,
            college: school
        }, (result) => {
            if (result.status === 200) {
                swal({
                    text: "注册成功！",
                    icon: "success",
                    button: "确定",
                }).then(() => {
                    location.href = '{{ reverse_url("index") }}'
                })
            } else {
                if (result.reason['phone']) {
                    response(reg_tel, result.reason['phone'])
                }
                if (result.reason['phone_code']) {
                    response(phone_message, result.reason['phone_code'])
                }
                if (result.reason['password']) {
                    response(reg_passwd, result.reason['password'])
                }
                if (result.reason['college']) {
                    response(college, result.reason['college'])
                }
            }
        })
    }
</script>
<script>
    let log_phone = $('#phone')
    let log_passwd = $('#log-passwd')
    let log_pic = $('#pic_message')
    let log_remember = $('#remember')
    $('#login').on('click', () => {
        $.post('{{ reverse_url("login") }}' + location.search.substring(1), {
            phone: log_phone.val(),
            password: log_passwd.val(),
            pic_code: log_pic.val(),
            remember: log_remember.prop('checked')
        }, (result) => {
            if (result.status === 200) {
                swal({
                    text: "登录成功！",
                    icon: "success",
                    button: "确定",
                }).then(() => {
                    if (result.next) {
                        location.href = result.next
                    } else
                        location.href = '{{ reverse_url("index") }}'
                })
            } else {
                if (result.reason['phone']) {
                    response(log_phone, result.reason['phone'])
                }
                if (result.reason['password']) {
                    response(log_passwd, result.reason['password'])
                }
                if (result.reason['pic_code']) {
                    response(log_pic, result.reason['pic_code'])
                }
            }
        })
    })
</script>
{% end %}
